<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <link rel="stylesheet" href="/CSS/admin.css">
        <title>Back-End Portal</title>
    </head>

    <body>
        <div class="the-head">
            <div class="title">Back-End Portal</div>
        </div>

        <div class="search-bar">
        </div>

        <h1>Products Management: </h1>
        <table border="1" class = "table table-striped table-responsive-md" id="product-table">
            <thead>
                <tr>
                    <th>Database ID</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Regular Price</th>
                    <th>Product Category</th>
                    <th>Keywords</th>
                    <th>ImageSource</th>
                    <th>Show</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product:${allemplistProducts}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.js_id}"></td>
                    <td th:text="${product.Name}"></td>
                    <td th:text="${product.Description}"></td>
                    <td th:text="${product.RegularPrice}"></td>
                    <td th:text="${product.ProductCategory}"></td>
                    <td>
                        1. <span th:text="${product.Keywords[0]}"></span><br />
                        2. <span th:text="${product.Keywords[1]}"></span><br />
                        3. <span th:text="${product.Keywords[2]}"></span>
                    </td>
                    <td th:text="${product.ImageSource}"></td>
                    <td th:text="${product.Show}"></td>      
                    <td> 
                        <a th:href="@{/update/{id}(id=${product.id})}" class="btn btn-primary">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h1>Registered Customers: </h1>
        <table style="width:80%" border="1" class = "table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Database ID</th>
                    <th>Name</th>
                    <th>Password (hashed)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user:${allemplistUsers}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                </tr>
            </tbody>
        </table>

        <h1>Transaction Records: </h1>
        <table style="width:80%" border="1" class = "table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Database ID</th>
                    <th>Name</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="transaction:${allemplistTransactions}">
                    <td th:text="${transaction.id}"></td>
                    <td th:text="${transaction.username}"></td>
                    <td th:text="${transaction.totalPrice}"></td>
                </tr>
            </tbody>
        </table>

    </body>
</html>